<div class="container middleClass">
  
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row spaceClass">
      <div class="col-sm-2"><b>email</b></div>
      <input type="text" class="col-sm-8 userClass" placeholder="Enter the email" [(ngModel)]="this.email">
    </div>

    <div class="row spaceClass">
      <div class="col-sm-2"><b>Password</b></div>
      <input type="password" class="col-sm-8 userClass" placeholder="Enter the user password" [(ngModel)]="this.password">
    </div>
    
    <div class="row">
      <button class="col-sm-3 loginClass" (click)="onLogin()">Login</button>
      <button class="col-sm-3 registrationClass" (click)="onRegistration()">Registration</button>
      
    </div>

    
  </div>
</div>
</div>