<div class="row">
  <div class="col s8 offset s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>Employee Profile</h2>
      </div> 
      
      <form  > 
         <div class="row">
            <div class="input-field col s6">
                empid <input type="number" name="empId" #empId [(ngModel)]="userDetails.empId"  [disabled]="isDisabled()" id="name" type="text">
                
                </div>
                
          
          <div class="input-field col s12">
              EmployeeName <input type="text" name="name" #name [(ngModel)]="userDetails.name" disabled >
            

          </div>
          <div class="input-field col s12">
              Password<input type="text" name="password" #name [(ngModel)]="userDetails.password" disabled>
              
  
            </div>
          <div class="input-field col s12">
              EmailId<input type="text" name="email" #email [(ngModel)]="userDetails.email" disabled>
            

          </div>
          <div class="input-field col s6">
              BirthdayDate<input type="datetime" name="birthday" #birthday [(ngModel)]="userDetails.birthday" disabled> 
            
          </div>
          <div class="input-field col s6">
              JoiningDay <input type="datetime" name="joiningDay" #joiningDay [(ngModel)]="userDetails.joiningDay" disabled>
            
          </div>
          <div class="input-field col s6">
              Gender<input type="text" name="gender" #gender [(ngModel)]="userDetails.gender" disabled> 
            <label></label>

          </div>
          <div class="input-field col s6">
              MaritalStatus <input type="text" name="maritalStatus" #martialStatus [(ngModel)]="userDetails.marialStatus" disabled>
            
          </div>
          <div class="input-field col s6">
              Designation<input type="text" name="designation" #designation [(ngModel)]="userDetails.designation" disabled>
              
            </div>
            <div class="input-field col s6">
                Qualification<input type="text" name="qualification" #qualification [(ngModel)]="userDetails.qualification" disabled>
                
              </div>
              <div class="input-field col s6">
                  mobileNo<input type="text" name="mobileNo" #qualification [(ngModel)]="userDetails.mobileNo" disabled>
                  
                </div>
          <br>

          <div>
            <table>
              <tr>
                <td>
                  address<input type="text" name="address" #address [(ngModel)]="userDetails.empAddress.address" disabled>
                  </td>
              </tr>
              </table>
            </div>
            <div>
              <table>
              <tr>
                  
                <td>latitude
                  <input type="number" name="latitude" #latitude [(ngModel)]="userDetails.empAddress.latitude">
                
                </td>
                
                <td>
                    longitude<input type="number" name="longitude" #longitude [(ngModel)]="userDetails.empAddress.longitude">
                
                </td>
              </tr>

            </table>
          </div>
          

        </div>
                <div class="row">
          <div class="input-field col s12">
             <button class="btn-large btn-submit" type="submit" ng-click="edit();update()">update</button> 
          </div>
        </div> 
       
       </form>  


     </div>

  </div>
</div> 
